:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.fonts {
  /* color: #433835; */
  font-weight: 500;
  font-size: larger;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border {
  border: 4px solid #433835;
  border-radius: 22px;
  padding: 20px;
  width: 100%;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonTheme,
.buttonTheme:focus,
.buttonTheme:active {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;   
  box-shadow: none; 
}

.light-theme{
  background-color: #ffffff;
  color: #121212;
}

.light-theme nav {
  background: #c88e9d;
  color: #121212;
}



/* Тёмная тема */

.dark-theme  {
  background-color: #121212;
  color: #f5f5f5;
}

.dark-theme p  {

  color: #f5f5f5;
}

.dark-theme a {
  color: #c88e9d;
}


.light {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #c88e9d;
}

.dark {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #131111;
}

.light-theme .ant-layout-sider {
  background: #c88e9d !important;
}
.light-theme .ant-menu {
  background: #c88e9d !important;
  color: #121212 !important;
}
.light-theme .ant-layout-content {
  background: #ffffff !important;
  color: #121212 !important;
}


.dark-theme .ant-layout-sider {
  background: #121212 !important;
}
.dark-theme .ant-menu {
  background: #121212 !important;
  color: #f5f5f5 !important;
}
.dark-theme .ant-menu-item a {
  color: #c88e9d !important;
}
.dark-theme .ant-layout-content {
  background: #1e1e1e !important;
  color: #f5f5f5 !important;
}


.homeMainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.homeButton {
  width: 200px;
  height: 60px;
  background: #121212;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c88e9d;
}



.bulavka {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
